<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do-App</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <section id="header">
        <%- include('partials/header.ejs') %>
    </section>
    <section id="inputs">
        <form action="/addTask" method="POST">
            <label for="taskEnter">Enter a Task: </label>
            <input type="text" id="taskInput" placeholder="task" name="task">
            <label for="priority">Select Task Priority</label>
            <select name="priority" id="priority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            <input type="submit" value="Add Task" id="addButton">
        </form>
    </section>
    <% if (locals.numberOfItems) { %>
        <section id="pendingTaskList">
            <h2>Pending Tasks</h2>
            <ul id="pendingTasks">
                <% for (var i = 1; i <= numberOfItems; i ++) {%>
                    <li>
                        <input type="checkbox" name="check" id="<%=`task${i}` %>" /> 
                        <%= taskList[`task${i}`].task %>
                        <%= taskList[`task${i}`].priority %>
                        
                    </li>
                <% } %>
        </ul>
        </section>
    <% } else { %>
        <h2>No Pending Tasks</h2>
    <% } %>
    <section id="completedTaskList">
        <h2>Completed Tasks</h2>
        <ul id="completedTasks"></ul>
    </section>
    <section id="footer">
        <%- include('partials/footer.ejs') %>
    </section>
    <script src="./javascripts/main.js"></script>
</body>
</html>